p {
  font-family: Arial;
}

h1{
  color:maroon; 
}

h5{
  color: rebeccapurple !important;
}
button[type=button], button[type=submit], button[type=reset] {
    background-color: teal;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.description h5{
  color: teal;
}
.title{
  color: white; font-family: cursive; 
}
.background{
  background: teal;
}
.uppercase{
  text-transform: uppercase;
}
.publish-time{
  color: gray;
}
.cursive{
  font-family: cursive;
}
.capitalize{
  text-transform: capitalize;
}
.alternatebackground{
  background: orange;
}
.range {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.range:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
h5, p {
  font-family: Georgia;
}
